/* =Blocks
-----------------------------------------------------------------------------*/

.blocks-4 {
    padding-left: 0;
    list-style: none;
    margin-left: -$gridGutterWidth / ($gridWidth / 100) * 1%;
    @include clearfix;
    & li {
        height: auto;
        float: left;
        @include rem('margin-bottom', $baseLineInEms);
        margin-left: $gridGutterWidth / ($gridWidth / 100) * 1%;
    }

}

.blocks-4 > li { @include block(4); }


[class*="blocks-"] {
    
    p {
        text-align: center;
        font-size: .75rem;
        line-height: 1.5;
    }

    img {
        margin-bottom: 1em !important;
        border: 1px solid rgba(255,255,255,0);
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 1em;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }

    li:hover img {
        border: 1px solid rgba(255,255,255,1);
        box-shadow: 0 0 16px rgba(0,0,0,.5);
    }
}
/* =Responsive
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {

    .blocks-4
    {
        margin-left: 0;
        @include rem('margin-bottom', $baseLineInEms);
    }


    .blocks-4 > li
    {
        float: none;
        margin-left: 0;
        width: 100%;
    }

    //.blocks-mobile-50 > li,
    //.blocks-mobile-33 > li {
    //    float: left;
    //    margin-left: $gridGutterWidth/($gridWidth/100)*1%;
    //}
    //.blocks-mobile-33,
    //.blocks-mobile-50 {
    //    margin-left: -$gridGutterWidth/($gridWidth/100)*1%;
    //}
    //
    //.blocks-mobile-50 > li {
    //    @include block(2);
    //}
    //.blocks-mobile-33 > li {
    //    @include block(3);
    //}


}
