#fadeandscale {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
}
.popup_visible #fadeandscale {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
#modal-1 {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
}
.popup_visible #modal-1 {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.fadeandscale_close {
  background: url("../img/close-x.png");
  height: 40px;
  width: 40px;
  position: absolute;
  right: 5em;
  top: 5em;
  opacity: .75;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;

  &:hover {
    background: url("../img/close-x.png") rgba(255,255,255,1);
    opacity: 1;
  }
}
.modal-content {
  padding: 10rem 2rem;
  
  p {
    text-align: justify;
  }
}