
.content-wrap {

  display: flex;
  flex-wrap: wrap;

  &:not([class^="p-"]) {
    min-height: 300px;
    //padding-top: 5em;

    .subpage & {
      //margin-top: 3em;
    }
  }
  &.intro {
    padding: 3em 0;
  }
  .row {
    //margin-bottom: $baseLineHeight * 2em;
    //margin-bottom: 3em;
    overflow: hidden;
    display: flex;
    width: 100%;

    .subpage & {
      display: block;
    }

    &.hidden-links {
      margin-bottom: 0;
    }

  }
  h2 {
    margin-bottom: 1.5em;
    padding-bottom: .75em;
    position: relative;
    text-align: left;

    &::after {
      border-bottom: 3px solid #D97B29;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 0;
      //padding: .5em 0;
      position: absolute;
      width: 50px;
    }
  }

  h1 {
    line-height: 1.5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    &::after {
      border-bottom: 3px solid #D97B29;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      margin: 0 auto;
      /* left: 45%; */
      right: 0;
      left: 0;
      position: absolute;
      width: 60px;
    }
  }
}

.list-wrap {

  padding-bottom: 3.2em;

  h2, h3 {
    margin-bottom: 2em;
  }
  p, ul {
    margin-bottom: 3em;
  }
}

//.intro-content {
//  padding: 3em 0;
//}
.content-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 5em;

  h2 {
    text-align: left;
  }
  img {
    @include rem('margin-bottom', $baseLineInEms);
  }
}

.inverted-wrap {
  background: #344B56;

  h1, h2, h3, p {
    color: rgba(255, 255, 255, .9);
  }
  strong {
    color: rgba(255, 255, 255, 1);
  }
  a {
    color: rgba(255, 255, 255, .75);
  }
}

p, a {
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

[class^="unit-"] {

  &.content-item {
    //min-height: 550px;
    position: relative;
  }
}

.back-to-top {
  background: rgba(0, 0, 0, .5);
  //border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: white;
  display: inline-block;
  margin-top: 3em;
  padding: 0.5em 0.75em;
  text-align: center;
  text-decoration: none;
}

.logo {
  background: url("../img/fabc-logo.png") no-repeat;
  display: block;
  height: 258px;
  left: 2em;
  margin-top: 15px;
  position: absolute;
  text-indent: -999999em;
  width: 212px;
  z-index: 30;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;

  &:hover {
    margin-top: 18px;
  }
}

.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid transparent;
  margin: 0 auto 1em;
  width: 300px;
}

.row .profile-link {
  margin-left: 8%;
  position: relative;
  width: 28%;

  &.unit-20 {
    width: 17%;
  }
  //&:after {
  //  content: "";
  //  background: url(../img/plus.png) no-repeat #000;
  //  width: 28px;
  //  height: 28px;
  //  display: block;
  //  position: absolute;
  //  left: 50%;
  //  //margin: -30px auto -30px -30px;
  //  bottom: 0;
  //}

  p {
    text-align: center;
    margin-top: 1rem;
    padding: .5rem 0;
    border-bottom: 1px dotted rgba(0, 0, 0, 0);
    border-top: 1px dotted rgba(0, 0, 0, 0);


    &:after {
      content: "";
      background: url(../img/plus.png) no-repeat;
      width: 30px;
      height: 30px;
      display: block;
      position: absolute;
      left: 0;
      bottom: 30%;
      right: 0;
      margin: 0 auto;
      opacity: 0;
      -webkit-transition: all 0.75s ease-out;
      -moz-transition: all 0.75s ease-out;
      -ms-transition: all 0.75s ease-out;
      -o-transition: all 0.75s ease-out;
      transition: all 0.75s ease-out;
      //&:hover {
      //  background: url(../img/plus-hover.png) no-repeat;
      //}
    }
  }

  &:hover p {
    background: rgba(0, 0, 0, .05);&:after {
    content: "";
    background: url(../img/plus.png) no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    left: 0;
    bottom: 33%;
    right: 0;
    margin: 0 auto;
    opacity: 1;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;

    //&:hover {
    //  background: url(../img/plus-hover.png) no-repeat;
    //}
  }
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    border-top: 1px solid rgba(0, 0, 0, 0);
  }
  a {
    display: block;
    //position: relative;

    img {
      position: relative;


    }
  }

  //i {
  //  position: absolute;
  //  color: #fff;
  //  top: 136px;
  //  left: 0;
  //  right: 0;
  //  padding: .5rem;
  //  margin: 0 auto;
  //  background: rgba(0,0,0,1);
  //  width: 25px;
  //  height: 25px;
  //}
}

.list-block {

  .unit-50 {
    min-height: 100px;

    &:nth-child(odd) {
      margin-left: 0;
    }
    //&:last-child {
    //  margin-left: 25%;
    //}
  }
  .unit-33 {

    &:nth-child(3n+4) {
      margin-left: 0;
    }
  }
}

.large-header {
  font-size: 175%;
}

.small-header {
  display: block;
  font-size: 75%;
  line-height: 1.75;
}

.p-1 {
  //background: url("../img/transparent-overlay-85.png"),
  //url("../img/parallax/fabc-img-01.jpg");
  background: url("../img/parallax/fabc-img-01.jpg");
  background-repeat: repeat, no-repeat;
  //height: 200px;
}

.p-2 {
  //background: url("../img/transparent-overlay-85.png"),
  //url("../img/parallax/fabc-img-02.jpg");
  background: url("../img/parallax/fabc-img-02.jpg");
  background-repeat: repeat, no-repeat;
  //height: 200px;
}

.p-3 {
  //background: url("../img/transparent-overlay-85.png"),
  //url("../img/parallax/fabc-img-03.jpg");
  background: url("../img/parallax/fabc-img-03.jpg");
  background-repeat: repeat, no-repeat;
  //height: 200px;
}

.p-4 {
  //background: url("../img/transparent-overlay-85.png"),
  //url("../img/parallax/fabc-img-04.jpg");
  background: url("../img/parallax/fabc-img-04.jpg");
  background-repeat: repeat, no-repeat;
  //height: 200px;
}

[class*="p-"] {

  .column {
    padding-top: 3em;
  }

}

[class^="blocks-"] {

  p {
    font-size: .75rem;
    line-height: 1.5;
  }
  //>li {
  //  margin: 0 1%;
  //}
}

.blocks-wrap {
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 3em 1.5em 0;
}

li {
  list-style: none;
}

.google-map {
  margin-bottom: 2px;
  position: relative;
  padding-bottom: 50%; // This is the aspect ratio
  height: 400px;
  overflow: hidden;

  iframe {
    border: none !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

main {
  height: 100vh;

  .row {
    padding-top: 3em;

    &.top {
      padding-top: 6em;
    }
  }

  //&[class*="p-"] {
  //  padding-bottom: 5em;
  //}
}

.centered-content {
  h1, h2, h3, h4, p, ul, li {
    text-align: center;
  }
  img {
    display: block;
    margin: 0 auto 2rem;
  }
}

.content-item .episode .podcast_name,
.content-item .episode .episode_name,
.content-item .episode .meta p,
.content-item .episode .description {
  color: rgba(255, 255, 255, .8) !important;
  margin-bottom: .5em;
}

div.episode div.meta {
  color: rgba(255, 255, 255, .9) !important;
  padding: 0 !important;

  p {

  }
}

div.episode {
  background: rgba(0, 0, 0, .5);
  border: 1px solid rgba(255, 255, 255, .1);
  padding: 3em;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

  &:hover {
    background: rgba(191, 51, 19, 0.25);
  }
}

div.episode p.description {
  position: absolute;
  font-weight: 600;
  margin-top: -20px;
}

//div.player_wrap {
//  background: rgba(191, 51, 19, 0.80)!important;
//  -webkit-transition: all .5s ease-in-out;
//  -moz-transition: all .5s ease-in-out;
//  -ms-transition: all .5s ease-in-out;
//  -o-transition: all .5s ease-in-out;
//  transition: all .5s ease-in-out;
//
//  &:hover {
//    background: #333;
//  }
//}